:root{
    font-size: 8vw;
}

body {
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* height: 100vh; */
    background-color: black;
    -webkit-text-stroke: .01em rgba(0, 0, 0, 0.678); /* width and color */
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    transition: opacity 900ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
    /* opacity:1; */
    z-index: -1;
    /* transition:opacity 0.5s linear; */
}

#uaMau{
    position: absolute;
    /* font-size: ; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    cursor: pointer;
}

#uaMau svg {
    width: 17%;
    height: 17%;
    display: block;
    margin: auto;
    margin-top: .5em;
}

.show{
    /* transition: opacity 3s cubic-bezier(0.55, 0.06, 0.68, 0.19); */
    opacity:1;
}

.hidden{
    opacity:0;   
}

.off {
    display: none;
}

#play{
    position: absolute;
    /* color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    cursor: pointer;
}